# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Create markdown cells with a table
- Create a code cell to multiply and add numbers

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Keras
3. TensorFlow
4. PyTorch
5. Apache Spark

| Data Science Tools |
| ------ |
| R Studio |
| Anaconda |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Marco